# Assignment on Store_sales dataset

**Load the Dataset**

In [23]:
import pandas as pd
data=pd.read_csv("C:\\Users\\CVR\\Downloads\\store_sales.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store_id  100 non-null    object
 1   city      100 non-null    object
 2   Jan       100 non-null    int64
 3   Feb       100 non-null    int64
 4   Mar       100 non-null    int64
 5   Apr       100 non-null    int64
 6   May       100 non-null    int64
 7   Jun       100 non-null    int64
 8   July      100 non-null    int64
 9   Aug       100 non-null    int64
 10  Sep       100 non-null    int64
 11  Oct       100 non-null    int64
 12  Nov       100 non-null    int64
 13  Dec       100 non-null    int64
dtypes: int64(12), object(2)
memory usage: 11.1+ KB
None

**Calculate the total sales for each store across all months.**

In [10]:
import pandas as pd
data=pd.read_csv("C:\\Users\\CVR\\Downloads\\store_sales.csv")
data['Total_Sales']=data.iloc[:, 2:].sum(axis=1)
print(data[['store_id','Total_Sales']])

   store_id  Total_Sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [25]:
average_sales_per_month=data.iloc[:,2:].mean()
(average_sales_per_month)

Jan             14.46
Feb             15.09
Mar             14.56
Apr             14.57
May             13.56
Jun             13.80
July            14.38
Aug             15.81
Sep             14.91
Oct             14.10
Nov             15.31
Dec             13.57
Total_Sales    174.12
dtype: float64

**Identify the store with the highest total sales.**

In [26]:
data['Total_Sales']=data.iloc[:, 2:].sum(axis=1)
store_with_highest_sales=data.loc[data['Total_Sales'].idxmax()]
print(store_with_highest_sales[['store_id','Total_Sales']])

store_id       S_62
Total_Sales     428
Name: 61, dtype: object

**Calculate the total sales for each city.**

In [14]:
data['Total_Sales']=data.iloc[:, 2:].sum(axis=1)
total_sales_per_city=data.groupby('city')['Total_Sales'].sum()
(total_sales_per_city)

city
Arizona       15804
California    30088
Texas         23756
Name: Total_Sales, dtype: int64

**List stores with total sales greater than 200**

In [15]:
data['Total_Sales'] = data.iloc[:, 2:].sum(axis=1)
stores_with_sales_above_200 = data[data['Total_Sales']>200]
print(stores_with_sales_above_200[['store_id','Total_Sales']])

   store_id  Total_Sales
0       S_1          890
1       S_2          870
2       S_3          905
3       S_4          675
4       S_5          795
..      ...          ...
95     S_96          925
96     S_97          770
97     S_98          840
98     S_99          865
99    S_100          900

[100 rows x 2 columns]

**Which month had the highest average sales across all stores?**

In [20]:
average_sales_per_month = data.iloc[:, 2:].mean()
month_with_highest_sales = average_sales_per_month.idxmax()

In [19]:
highest_sales_value = average_sales_per_month[month_with_highest_sales]
print(f"The month with the highest average sales is {month_with_highest_sales} with an average sales of {highest_sales_value:.2f}")

The month with the highest average sales is Total_Sales with an average sales of 870.60

**Which city generated the most revenue?**

In [21]:
data['Total_Sales'] = data.iloc[:, 2:].sum(axis=1)
city_with_highest_revenue = data.groupby('city')['Total_Sales'].sum().idxmax()
print(f"The city with the highest revenue is {city_with_highest_revenue}")

The city with the highest revenue is California